/**
 * Basic typography style for copy text
 */

html {
    font-size: 100%;
    line-height: 1.2;
    font-family: $arialStack;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset{
    margin-top: 0;
    margin-bottom:1.5rem;
}

// use the mixin
h1 {
  @include typography(h1);
  color: $blue;
}
h2 {
  @include typography(h2);
  color: $blue;
}
h3 {
  @include typography(h3);
  color: $blue;
}
h4 {
  @include typography(h4);
  color: $blue;
}

.generic-text{
  margin: 2rem 0;

  a{
    color: #007faf;
    position: relative;
    text-decoration: none;
    background-image: linear-gradient(to right, #007faf 0%, #007faf 100%);
    background-repeat: repeat-x;
    background-position: bottom 0.05em center;
    background-size: 100% 0.1rem;
    outline: none;

    &:hover{
      text-decoration: none;
      background-position: bottom 0.02em center;
        background-size: 100% 2px;
    }

    &:focus {
      background-color: rgba($lightBlue, 0.15);
      text-decoration: none;
      background-position: bottom 0.02em center;
      background-size: 100% 2px;
      color: #0074a1;
    position: relative;
    text-decoration: none;
    background-image: linear-gradient(to right, #0074a1 0%, #0074a1 100%);
    }
  }
}

aside{
  padding: 1rem;
  background-color: $lightGrey;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}